@charset 'utf-8';
*{
    box-sizing:border-box;
	margin:0;
	padding:0;
}

/*Google Chrome青い枠線消す*/
a,
input[type="text"], 
input[type="password"], 
textarea, 
select{
    outline:none;
}
*:focus{
    outline:none;
}

html{
	/*font-size:62.5%;*/
	height:100%;
}
body{
	margin:0;
	padding:0;
	height:100%;
	font-family:YuGothic,-apple-system,BlinkMacSystemFont,"Helvetica Neue","ヒラギノ角ゴ ProN W3",Hiragino Kaku Gothic ProN,Arial, "メイリオ",Meiryo,sans-serif;
	font-weight:500;
	color:#111;
	font-size:16px;
	-webkit-text-size-adjust:100%;/*viewport 文字サイズ調整*/
}
h1, h2, h3, h4, h5, h6, p, address,
ul, ol, li, dl, dt, dd,
table, caption, th, td, img, form {
	margin:0;
	padding:0;
	border:none;
	line-height:100%;
	font-style:normal;
	font-weight:500;
	font-size:100%;
	text-align:left;
	list-style-type:none;
	border-collapse:collapse;
	vertical-align:top;
}

/*共通*/
a{
	color:#0064f5;
	text-decoration:none;
}
textarea { font-size: 100%; }
img {vertical-align:bottom; border-style:none; width:100%; height:auto;}
hr { display:none; }
em{font-style:normal}
input{line-height:normal; vertical-align:top;}

ul.t{
    display:table;
    width:100%;
}
ul.t li.t{
    display:table-cell;
}
.bold{font-weight:bold;}
.center{text-align:center;}
.mt0{margin-top:0px;}
.mt3{margin-top:3px;}
.mt5{margin-top:5px;}
.mt10{margin-top:10px;}
.mt15{margin-top:15px;}
.mt20{margin-top:20px;}
.mt30{margin-top:30px;}
.mt50{margin-top:50px;}
a,p,li{
	font-size:16px;
	line-height:2;
}

/*rayout*/
body{
	background:#fff;
	width:100%;
	padding-left:200px;
}

/*div#menu*/
div#menu {
    background: #ffffff;
    padding: 50px 15px 15px 15px;
    width: 200px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}
div#menu p.logo a{
	border-bottom:none;
	padding:0;
	transition:all 0.6s;
}
div#menu ul{
	margin-top:50px;
}
div#menu ul li{
    color: #000;/*#969696*/
	font-size:14px;
	font-family:'M PLUS 1p', sans-serif;
    font-weight:400;
    line-height:1;
    margin-top:5px;
	text-align:right;
}
div#menu ul li.mt20{
    margin-top:20px;
}
div#menu ul li a{
	border-bottom:none;
    color: #000;
	font-size:14px;
	font-family:'M PLUS 1p', sans-serif;
    font-weight:400;
    overflow:visible;
	transition:all 0.6s;
}
div#menu ul li a span {
    color: #4dc56d;
    font-size: 8px;
}
div#menu p.logo a:hover,
div#menu ul li a:hover{
	opacity:0.5;
}

/*article rayout*/
article,
section
{
	width:100%;
}
section{
    padding:150px 0;
}
div.content750{
	width:750px;
	margin:0 auto;
}

/*#main*/
section#main {
    background: url(img/ho.png) no-repeat center top -2px /cover;
    height: 100vh;
    padding: 50px 10px 0 10px;
}
section#main h1{
    margin:0 auto;
    width:100%;
    max-width:750px;
}

/*h2全体*/
h2{
    font-family: 'M PLUS 1p', sans-serif;
    font-weight:500;
    font-size:45px;
    line-height:1.2;
    text-align:center;
}
@media screen and (max-width: 1000px) {
h2{
    font-size:35px;
}
}

/*ボタン ベース＆OTASUKEのサービス内容*/
div.button {
    background: #4cc46d url(http://127.0.0.1:5500/img/arrow.png) no-repeat;
    background-size: 25px 25px;
    background-position: 255px 25px;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 auto;
    width: 300px;
    padding: 0;
    transition: all 0.8s;
    position: absolute;
    bottom: 10%;
    left: 17%;
}
div.button2 {
    background: #03c400 url(http://127.0.0.1:5500/img/arrow.png) no-repeat;
    background-size: 25px 25px;
    background-position: 255px 25px;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 auto;
    width: 300px;
    padding: 0;
    transition: all 0.8s;
    position: absolute;
    bottom: 10%;
    left: 17%;
}
div.button:hover{
    background:#ff9100 url("img/arrow.png") no-repeat;/*#FF9600 */
    background-size:25px 25px;
    background-position:265px 25px;
}
div.button a{
    display:block;
    width:100%;
    height:100%;
}
div.button p{
    color:#fff;
    font-family: 'M PLUS 1p', sans-serif;
    font-weight:500;
    font-size:25px;
    line-height:1;
    padding:25px 0;
    text-align:center;
}
@media screen and (max-width: 1000px) {
div.button{
    background-size:20px 20px;
    background-position:170px 25px;
    width:200px;
}
div.button:hover{
    background-size:20px 20px;
    background-position:175px 25px;
}
div.button p{
    font-size:20px;
}
}
/*ボタン ドローンパイロットの派遣*/
section#pilot div.button{
    background:#ff5500 url("img/arrow.png") no-repeat;
    background-size:25px 25px;
    background-position:455px 30px;
    border:3px solid rgba(255,255,255,0.2);
    margin-top:50px;
    width:500px;
}
section#pilot div.button:hover{
    background:#ff9100 url("img/arrow.png") no-repeat;
    background-size:25px 25px;
    background-position:465px 30px;
}
section#pilot div.button p{
    padding:30px 0;
}
@media screen and (max-width: 1000px) {
section#pilot div.button{
    background-size:20px 20px;
    background-position:360px 30px;
    width:400px;
}
section#pilot div.button:hover{
    background-size:20px 20px;
    background-position:365px 30px;
}
}


@media screen and (min-width:1500px) and (max-width:2500px){
    section#main {
        background: url(img/ho.png) no-repeat center top 0 /cover;
    }
}


/*#about*/
section#about {
    background: linear-gradient(to bottom left, #fbfbfb, #20b8de);
    padding: 150px 20px;
    box-shadow: inset 2px 2px 10px black;
}
section#about h2{
    color:#111;
}
section#about div.sheet{
    border:4px solid #fff;
    border-radius:10px;
    margin:75px auto 0 auto;
    padding:60px 30px;
    width:100%;
    max-width:900px;
}
section#about h3{
    color:#fff;
    font-size:34px;
    font-weight:500;
    line-height:1.6;
    margin:0;
    text-align:center;
}
@media screen and (max-width: 1100px) {
section#about h3{
    font-size:25px;
}
}
section#about p{
    color:#111;
    font-size:20px;
    margin:30px 0 0 0;
    text-align:center;
}
section#about p.mt50{
    margin:50px 0 0 0;
}
section#about img{
    width:80%;
    height:auto;
}

/*#trouble*/
section#trouble {
    background: linear-gradient(to bottom left, #ffffff, #ffffff);
    padding: 150px 10px;
}
section#trouble h2 {
    color: #4ec66d;
}
section#trouble div.cases{
    margin:75px auto 0 auto;
    width:100%;
    max-width:1150px;
}
section#trouble ul.case_ul{
    display:table;
    table-layout:fixed;
    width:100%;
}
section#trouble ul.case_ul li.case{
    display:table-cell;
    padding:10px;
}
section#trouble ul.case_ul li.case ul{
    background:#fff;
    border:4px solid #e1e1e1;
    border-radius:10px;
    height:100%;
    padding:25px 20px;
}
section#trouble li.h3{
    min-height:70px;
    display:flex;
    align-items:center;
}
section#trouble li.h3 h3{
    color:#111;
    font-size:21px;
    font-weight:700;
    line-height:1.5;
}
@media screen and (max-width: 1350px) {
section#trouble li.h3 h3{
    font-size:15px;
}
}
section#trouble li.answer {
    border-top: 10px solid #c2ecf3;
    color: #111;
    font-size: 16px;
    line-height: 1.8;
    margin-top: 20px;
    padding-top: 20px;
}

/*.check_pilot_h2*/
h2.check_pilot_h2{
    background:#333;
    color:#fff;
    font-size:30px;
    padding:50px 0;
}
/*section#check*/
section#check {
    background: linear-gradient(to bottom left, #fbfbfb, #20b8de);
    padding: 100px 20px;
    box-shadow: inset 2px 2px 10px black;
}
section#check h3{
    color:#111;
    font-weight:500;
    font-size:45px;
    line-height:1.2;
    text-align:center;
}
@media screen and (max-width: 1000px) {
section#check h3{
    font-size:35px;
}
}
section#check h3 span{
    color:#fff;
    font-size:20px;
}
section#check p.text{
    color:#fff;
    font-size:22px;
    font-weight:600;
    margin-top:50px;
    text-align:center;
}
/*section#check 【マッチング基準】*/
section#check div.match{
    background:rgba(255,255,255,0.5);
    border-radius:10px;
    margin:15px auto 0 auto;
    width:100%;
    max-width:1000px;
    padding:40px 25px;
    text-align:center;
}
section#check h4.match_h4{
    border-bottom:1px dashed #fff;
    color:#111;
    font-size:20px;
    font-weight:600;
    padding-bottom:20px;
    text-align:center;
}
section#check div.match ul.criterion{
    display:inline-block;
    margin-top:20px;
}
section#check div.match ul.criterion li{
    font-size:16px;
    line-height:2;
}
/*section#check 【提携工務店について】*/
section#check h4.match_h4.alli{
    margin-top:100px;
}
section#check div.match div.alliance{
    display:inline-block;
    margin:20px auto 0 auto;
}
section#check div.match div.alliance ul{
    display:table;
}
section#check div.match div.alliance ul li{
    display:table-cell;
    font-size:18px;
    line-height:2.3;
    vertical-align:middle;
}
section#check div.match div.alliance ul li.img{
    padding-right:10px;
    width:300px;
}
section#check div.match div.alliance ul li span.big {
    color: #e96083;
    font-size: 40px;
    font-weight: 600;
    line-height: 1.6;
}
/*section#check　工務店紹介＆申請サポート会社の紹介*/
section#check div.kotira_button{
    margin:50px auto 0 auto;
    width:100%;
    max-width:1000px;
}
section#check ul.kotira_ul{
    display:table;
    table-layout:fixed;
    width:100%;
}
section#check li.kotira{
    display:table-cell;
    padding:0 10px 0 0;
}
section#check li.kotira.right{
    display:table-cell;
    padding:0 0 0 10px;
}
section#check li.kotira ul{
    background:#fff;
    border:4px solid #ffffff;
    border-radius:10px;
    height:100%;
    padding:15px 20px 40px 20px;
    height: 600px;
    position: relative;
}
section#check li.kotira li{
    margin-top:15px;
    text-align:center;
}
section#check li.kotira img{
    margin:0 auto;
    width:60%;
    height:auto;
}
section#check li.kotira li.btn{
    margin-top:30px;
}
section#check li.kotira h4 {
    border-bottom: 3px solid #000000;
    color: #000000;
    font-family: 'M PLUS 1p', sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 1.4;
    padding-bottom: 15px;
    text-align: center;
}
@media screen and (max-width: 1150px) {
section#check li.kotira h4{
    font-size:22px;
}
}
@media screen and (max-width:769px){
    section#check li.kotira h4 {
        font-size: 18px;
    }
}

/*section#pilot*/
section#pilot{
	background:#5d7183 url('img/movie.png') no-repeat;
	overflow:hidden;
	position:relative;
	width:100%;
	height:auto;
	margin:0;
	padding:0;
	z-index:1;
}
div.movie{
    display:flex;
    align-items:center;
    justify-content:center;
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	margin:0;
	overflow:hidden;
	z-index:2;
}
div.movie video{
    width:auto;
	height:100%;
	position:absolute;
}


div.dark{
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	background:url("img/twodot.png");
	margin:0;
	z-index:3;
}
div.pilot_zone{
	position:relative;
    width:100%;
	height:auto;
    padding:100px 20px;/*100px 20px*/
	z-index:4;/*必ず必要*/
}
section#pilot h3{
    color:#fff000;
    font-weight:500;
    font-size:45px;
    line-height:1.2;
    text-align:center;
}
@media screen and (max-width: 1000px) {
section#pilot h3{
    font-size:35px;
}
}
section#pilot h3 span{
    color:#fff;
    font-size:20px;
}
section#pilot p.text{
    color:#fff;
    font-size:22px;
    font-weight:600;
    margin-top:50px;
    text-align:center;
}
section#pilot div.merit{
    background:rgba(255,255,255,0.6);
    border-radius:10px;
    margin:15px auto 0 auto;
    width:100%;
    max-width:1000px;
    padding:30px 20px;
    text-align:center;
}
section#pilot h4.merit_h4{
    border-bottom:1px dashed #fff;
    color:#111;
    font-size:18px;
    font-weight:600;
    padding-bottom:15px;
    text-align:center;
}
section#pilot div.merit ul.side{
    /*display:inline-block;*/
    display:table;
    margin:20px auto 0 auto;
}
section#pilot div.merit ul.side li.side_li{
    display:table-cell;
}
section#pilot div.merit ul.side li.side_li.img{
    width:200px;
    position:relative;
}
section#pilot div.merit ul.side li.side_li.img img{
    position:absolute;
    left:0;
    bottom:0;
}
section#pilot div.merit ul.list li{
    color:#111;
    font-size:20px;
    font-weight:600;
    line-height:2.3;
}


/*footer*/
footer {
    background: linear-gradient(to bottom left, #ffffff, #ffffff);
    padding: 30px 0 50px 0;
    width: 100%;
    text-align: center;
}
ul.link{
	display:inline-block;
}
ul.link li{
	display:inline-block;
	line-height:1.2;
	padding:0 20px;
}
ul.link li a{
	color:#111;
	font-size:14px;
    opacity:1;
    transition:all 0.5s;
}
ul.link li a:hover{
    opacity:0.5;
}
footer p{
	font-size:13px;
	text-align:center;
}
footer p.phone{
	color:#111;
    margin-top:30px;
}
footer p.phone span{
    background:url("img/phone.png") no-repeat;
    background-size:13px 13px;
    background-position:0 center;
    margin:0 5px;
    padding-left:13px;
}
footer p.copy {
    color: #000;
    margin-top: 5px;
}

/*p.totop*/
p.totop{
    cursor:pointer;
	opacity:0;
	position:fixed;
	bottom:90px;
	right:20px;
	transition:all 1s;
    width:42px;
    height:auto;
	z-index:5;
}
p.totop.see{
	opacity:1;
}
/*div.builder*/
div.builder{
    background:#ff5a00;/*ff5500 fffa4b*/
    border:2px solid rgba(255,255,255,0.4);
    border-right:none;
    border-radius:8px 0 0 8px;
	position:fixed;
	bottom:20px;
	right:0;
    margin-right:-250px;
	transition:all 1.5s;
    width:230px;
    height:auto;
	z-index:6;
}
div.builder p{
    background:url("img/builder.png") no-repeat;
    background-size:33px 33px;
    background-position:10px center;
    color:#fff;
    font-size:18px;
    font-weight:500;
    line-height:3;
    padding-left:50px;
}
div.builder.see{
    margin-right:0;
}


.header{
    display: none;
}
.store {
    padding-bottom: 2.7vw;
}
/*
.rayer {
    width: 70%;
    height: 29%;
    background-color: #ffffff;
    position: absolute;
    top: 5vw;
    z-index: 2;
    border-radius: 51%;
    opacity: 0.9;
    left: 50vw;
    transform: translateX(-36%);
}*/
.text-img {
    position: relative;
    z-index: 3;
    top: 0vw;
    left: -2vw;
}
.one-line{
    padding: 1.2vw;
}

@media screen and (max-width:1030px){
    section#main {
        height: 57vh;
    }
    .store {
        padding-bottom: 5.7vw;
    }
    .one-line {
        padding: 1.5vw;
    }
    div.button2 {
        left: 11%;
    }
    div.button {
        left: 11%;
    }
    
}

@media screen and (max-width:780px){
    div.button2 {
        left: 11%;
        width: 196px;
    }
    .one-line {
        padding: 3.1vw;
    }
}





