@charset "utf-8";
* {
    box-sizing:border-box;
    margin:0;
    padding:0;
    color:#111;
}
/*アイフォンボタン変更帳消し*/
input[type="submit"],
input[type="button"],
input[type="select"] {
       -webkit-appearance:none;
}
/*Google Chrome青い枠線消す*/
a,
input[type="text"],
input[type="password"],
textarea,
select{
    outline:none;
}
*:focus{
    outline:none;
}
html,body{
    /*font-size:62.5%;*/
    margin:0 auto;
    padding:0;
    width:100%;
}
html {
    background: linear-gradient(to bottom left, #fffa96, #ffffe1);
    background: linear-gradient(to bottom left, #c8ffff, #ffffff);
    min-height: 100%;
}
body{
    -webkit-text-size-adjust:100%;/*スマホ対応-画面を回転させてもページの拡大率が変わらない*/
    color:#111;
    font-family:YuGothic,-apple-system,BlinkMacSystemFont,"Helvetica Neue","ヒラギノ角ゴ ProN W3",Hiragino Kaku Gothic ProN,Arial, "メイリオ",Meiryo,sans-serif;
    font-weight:500;
    font-size:18px;
    height:100%;
    min-height:100%;
    margin:0;
    padding:0;
}
h1, h2, h3, h4, h5, h6, p, address,
ul, ol, li, dl, dt, dd,
table, caption, th, td, img, form{
    border:none;
    border-collapse:collapse;
    color:#111;
    font-style:normal;
    font-weight:500;
    font-size:100%;
    line-height:100%;
    list-style-type:none;
    margin:0;
    padding:0;
    text-align:left;
    vertical-align:top;
}
/*共通設定*/
a{
    /*border-bottom:1px solid #0064f5;
    color:#0064f5;
    padding-bottom:1px;*/
    text-decoration:none;
}
img{
    width:100%;
    height:auto;
}
ul.t{
    display:table;
    width:100%;
}
ul.t li.t{
    display:table-cell;
}
strong,
.bold{font-weight:bold;}
.center{text-align:center;}
.mt0{margin-top:0px;}
.mt3{margin-top:3px;}
.mt5{margin-top:5px;}
.mt10{margin-top:10px;}
.mt15{margin-top:15px;}
.mt20{margin-top:20px;}
.mt30{margin-top:30px;}
.mt50{margin-top:50px;}

/*骨組み*/
div.wrapper{
    padding:30px 15px;
    margin:0 auto;
    width:100%;
    max-width:750px;
}
article {
    background: #ffffff url(img/rescue_logo_black.png) no-repeat;
    background-size: 10% auto;
    background-position: center 20px;
    border: 3px solid #000000;
    border-radius: 15px;
    margin: 0 auto;
    padding: 120px 30px 50px 30px;
}
@media screen and (max-width:750px) {
    article {
        background: #ffffff url(img/rescue_logo_black.png) no-repeat;
        background-size: 15% auto;
        background-position: center 20px;
        padding: 100px 20px 50px 20px;
    }
}
h1 {
    color: #4ec66d;
    font-size: 26px;
    font-weight: bold;
    line-height: 1.5;
    padding: 0;
    text-align: center;
}
@media screen and (max-width:750px) {
h1{
    font-size:18px;
}
}

.error_text {
  color: red;
  font-size: .8em;
  padding: 5px;
}

/*入力欄*/
dl{
    margin-top:10px;
}
dt{
    color:#1f7cea;
    font-size:22px;
    font-weight:bold;
    margin-top:15px;
    padding:10px 0 0 0;
}
/*dt span{
    border-radius:3px;
    color:#fff;
    font-size:16px;
    font-weight:bold;
    margin-right:10px;
    padding:5px 10px 3px 10px;
}
dt span.ore{
    background:#ff5500;
}
dt span.gray{
    background:#d2d2d2;
}*/
dd{
    color:#111;
    font-size:22px;
    padding:10px 0 0 0;
}
@media screen and (max-width:750px) {
dt{
    font-size:18px;
}
dt span{
    font-size:14px;
}
dd{
    font-size:18px;
}
}

select,
textarea,
input{
    border:2px solid #d2d2d2;
    font-size:18px;
    font-family:YuGothic,-apple-system,BlinkMacSystemFont,"Helvetica Neue","ヒラギノ角ゴ ProN W3",Hiragino Kaku Gothic ProN,Arial, "メイリオ",Meiryo,sans-serif;
    font-weight:500;
    padding:10px;
    width:100%;
}
select:focus,
textarea:focus,
input:focus{
    border:2px solid #969696;
}
select::placeholder,
textarea::placeholder,
input::placeholder{
    color:#a0a0a0;
}
input[type="radio"]{
    width:auto;
}

/*button*/
p.send{
    width:80%;
    margin:50px 10% 0 10%;
}
button{
    background:#ff5500 url("img/arrow.png") no-repeat;
    background-position:90% center;
    background-size:7% auto;
    border:none;
    border-radius:5px;
     color:#fff;
    cursor:pointer;
    display:block;
    font-size:28px;
    line-height:1;
    text-align:center;
    width:100%;
    padding:28px 0;
    transition:all 0.7s;
}
button:hover{
    background:#ff9100 url("img/arrow.png") no-repeat;
    background-position:95% center;
    background-size:7% auto;
}

.back_button {
    background:#ff5500 url("img/arrow_left.png") no-repeat;
    background-position: 10% center;
    background-size: 7% auto;
}

.back_button:hover{
    background:#ff9100 url("img/arrow_left.png") no-repeat;
    background-position:5% center;
    background-size:7% auto;
}

@media screen and (max-width:750px) {
button{
    font-size:20px;
    padding:25px 0;
}
}


/*●運営会社 プライバシーポリシーへ*/
div.foot{
    margin:30px auto 0 auto;
    text-align:center;
}
div.foot ul{
    display:inline-block;
}
div.foot ul li{
    display:inline-block;
    line-height:1.2;
    padding:0 20px;
}
div.foot ul li a{
    color:#111;
    font-size:14px;
    opacity:1;
    transition:all 0.5s;
}
div.foot ul li a:hover{
    opacity:0.5;
}

.confirm_label {
    padding: 10px;
}

/*contact/thanks.html*/
div.wrapper.fin .thanks.fin p{
    font-size:16px;
    line-height:2;
    margin-top:30px;
    text-align:center;
}


.item-icon {
    width: 40px;
    height: 40px;
    margin-right: 15px;
    vertical-align: top;
}
img.spnav02 {
    height: 20px;
    margin-top: -32px;
}


.company-content div{
    line-height: 34px;
}





/*-------------------------------------------------もしかしたら追加するかもしれないLINE@へ飛ばすためのセクションのCSS*/
.line {
    width: 40%;
    position: relative;
    left: 20%;
    margin-bottom: 6vw;
    margin-top: 6vw;
    transform: translateX(27%);
}
@media screen and (max-width:420px){
    .line {
        width: 65%;
        left: 0%;
    }
    
}
@media screen and (max-width:380px){
    .line {
        width: 86%;
        left: -17%;
    }
}
/*-------------------------------------------------もしかしたら追加するかもしれないLINE@へ飛ばすためのセクションのCSS*/