@charset "UTF-8";
/*Reset*/
*{
    box-sizing:border-box;
	margin:0;
	padding:0;
}

/*アイフォンボタン調整*/
input[type="submit"],
input[type="button"],
input[type="select"]{
	   -webkit-appearance: none;
}
/*Google Chrome青枠消*/
a,
input[type="text"], 
input[type="password"], 
textarea, 
select {
    outline:none;
}
*:focus {
  outline:none;
}

html,body{
	/*font-size:62.5%;*/
	background:#fff;
	margin:0 auto;
	padding:0;
	height:100%;
    width:100%;
    scroll-behavior: smooth;
}
body{
	background:#fff;
	color:#111;
	font-size:16px;
	font-family:YuGothic,-apple-system,BlinkMacSystemFont,"Helvetica Neue","ヒラギノ角ゴ ProN W3",Hiragino Kaku Gothic ProN,Arial, "メイリオ",Meiryo,sans-serif;
	font-weight:500;
	width:100%;
	max-width:750px;
	-webkit-text-size-adjust:100%;/*スマホ対応*/
}
h1, h2, h3, h4, h5, h6, p, address,
ul, ol, li, dl, dt, dd,
table, caption, th, td, img, form{
	border:none;
	border-collapse:collapse;
	font-style:normal;
	font-weight:500;
	font-size:100%;
	line-height:100%;
	list-style-type:none;
	margin:0;
	padding:0;
	text-align:left;
	vertical-align:top;
}

/*--全体共通--*/
img{
	width:100%;
	height:auto;
}
a{
	color:#111;
	text-decoration:none;
}
a.underline{
	text-decoration:underline;
	transition:all 0.5s;
}
.bold{font-weight:bold;}
.center{text-align:center;}
.mt0{margin-top:0px;}
.mt3{margin-top:3px;}
.mt5{margin-top:5px;}
.mt10{margin-top:10px;}
.mt15{margin-top:15px;}
.mt20{margin-top:20px;}
.mt30{margin-top:30px;}
.mt50{margin-top:50px;}
a,p,li{
	line-height:2;
}

/*z-index*/
p.totop{
	z-index:7;
}
div.builder{
	z-index:8;
}
#menu nav{
	z-index:9;
}
button#nav_button{
	z-index:10;
}

/*nav*/
#menu nav{
	background:rgba(0,0,0,0.9);
	font-size:16px;
	position:fixed;
	top:0;
	right:0;
	width:0px;
	height:100%;
	overflow:hidden;
	opacity:0;
	transition:all 500ms;
}
#menu.open nav{
	opacity:1;
	width:100%;
}
nav ul{
	margin-top:60px;
}
nav li{
	color:#d6d5d5;
	cursor:pointer;
	width:100%;
	padding:0 15px;
}
nav li a {
    color: #000000;
    display: block;
    font-size: 16px;
    text-align: center;
    line-height: 3;
    padding: 0;
}
nav li a span{
    color:#fff000;
}

/*button ハンバーガーメニュー開閉*/
button#nav_button{
    background:rgba(0,0,0,0.7);
    /*background:#111;*/
	border:none;
	border-radius:2px;
	box-shadow:none;
	cursor:pointer;
	display:block;
	position:fixed;
	top:10px;
	right:10px;
	width:30px;
	height:30px;
	padding:0 4px;
	overflow:hidden;
	text-indent:-9999%;
	transition:all 0.5s;
}
button#nav_button span{
	background-color:#fff;
	display:block;
	height:3px;
	width:22px;
	transition:all 0.5s;
	transform:rotate(0deg);
	margin-top:-15px;
}
button#nav_button span:before,
button#nav_button span:after{
	height:3px;
	width:22px;
	background:#fff;
	content:'';
	display:block;
	position:absolute;
	transition:all 0.5s linear;
	opacity:1;
}
button#nav_button span:before{
	left:0px;
	top:-8px;
	transform: rotate(0);
}
button#nav_button span:after{
	left:0px;
	top:8px;
	transform: rotate(0);
}
button#nav_button span.close{
	transform: rotate(-135deg);
}
button#nav_button span.close:before{
	top:0;
	transform: rotate(-95deg);
}
button#nav_button span.close:after{
	top:0;
	opacity:0;
}

/*全体*/
div#wrapper{
}
article{
	margin:0;
	padding:0;
	overflow:hidden;
}
section{
	width:100%;
	margin:0;
	padding:0;
}
/*header*/
header{
	background:#111;
	padding:10px 0 10px 10px;
}
header img {
    width: 145px;
    height: 41px;
    margin-left: -2vw;
}


/*h2*/
h2{
    font-family: 'M PLUS 1p', sans-serif;
    font-weight:500;
    font-size:40px;
    line-height:1.2;
    text-align:center;
}
@media screen and (max-width: 380px) {
h2{
    font-size:30px;
}
}

/*ボタン ベース＆OTASUKEのサービス内容*/
div.button {
    background: #00ff37 url(img/arrow.png) no-repeat;
    background-size: 20px 20px;
    background-position: 95% 22px;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 5%;
    width: 90%;
    padding: 0;
    transition: all 0.8s;
}

div.button:hover{
    background:#ff9100 url("img/arrow.png") no-repeat;
    background-size:20px 20px;
    background-position:98% 22px;
}
div.button a{
    display:block;
    width:100%;
    height:100%;
}
div.button p{
    color:#fff;
    font-family: 'M PLUS 1p', sans-serif;
    font-weight:500;
    font-size:20px;
    line-height:1;
    padding:22px 0;
    text-align:center;
}
/*ボタン ドローンパイロットの派遣*/
section#pilot div.button{
    background-size:20px 20px;
    background-position:95% 20px;
    border:3px solid rgba(255,255,255,0.2);
    margin-top:25px;
}
section#pilot div.button:hover{
    background-size:20px 20px;
    background-position:98% 20px;
}
section#pilot div.button p{
    font-size:18px;
}
@media screen and (max-width: 380px) {
section#pilot div.button{
    background-size:16px 16px;
    background-position:95% 22px;
}
section#pilot div.button:hover{
    background-size:16px 16px;
    background-position:98% 22px;
}
section#pilot div.button p{
    font-size:16px;
}
}

/*#about*/
section#about{
    background: linear-gradient(to bottom left, #fbfbfb, #20b8de);
    padding:60px 15px;
    text-align:center;
    box-shadow: inset 2px 2px 10px black;
}
section#about h2{
    color:#111;
    display:inline-block;
    margin:0 auto;
    text-align:left;
}
section#about div.sheet{
    border:4px solid #fff;
    border-radius:10px;
    margin:30px auto 0 auto;
    padding:30px 15px;
    width:100%;
}
section#about h3 {
    color: #272626;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.6;
    margin: 0;
    text-align: center;
}
section#about p{
    color:#111;
    font-size:18px;
    margin:25px 0 0 0;
    text-align:center;
}
@media screen and (max-width: 380px) {
section#about h3{
    font-size:16px;
}
section#about p{
    font-size:15px;
}
}

/*#trouble*/
section#trouble {
    background: linear-gradient(to bottom left, #ffffff, #ffffff);
    padding: 60px 15px;
    text-align: center;
}
section#trouble h2{
    color:#4ec66d;
    display:inline-block;
    margin:0 auto;
    text-align:left;
}
section#trouble div.cases{
    margin:0;
    width:100%;
}
section#trouble ul.case_ul{
    width:100%;
}
section#trouble ul.case_ul li.img img{
    width:66%;
    margin:0 17%;
}
section#trouble ul.case_ul li.img,
section#trouble ul.case_ul li.case{
    margin-top:15px;
}
section#trouble ul.case_ul li.case ul{
    background:#fff;
    border:4px solid #e1e1e1;
    border-radius:10px;
    height:100%;
    padding:18px 15px 15px 15px;
}
section#trouble li.h3 h3{
    color:#111;
    font-size:18px;
    font-weight:700;
    line-height:1.5;
}
section#trouble li.answer{
    border-top: 10px solid #bff0ff;
    color:#111;
	font-size:15px;
	line-height:1.8;
    margin-top:10px;
    padding-top:10px;
}
@media screen and (max-width: 380px) {
section#trouble li.h3 h3,
section#trouble li.answer{
    font-size:14px;
}
}

/*.check_pilot_h2*/
h2.check_pilot_h2{
    background:#333;
    color:#fff;
    font-size:28px;
    padding:25px 0 20px 0;
}
@media screen and (max-width: 380px) {
h2.check_pilot_h2{
    font-size:20px;
}
}

/*section#check*/
section#check{    
    background: linear-gradient(to bottom left, #fbfbfb, #20b8de);
    padding:60px 15px;
    box-shadow: inset 2px 2px 10px black;
}
section#check h3{
    color:#111;
    font-weight:500;
    font-size:40px;
    line-height:1.2;
    text-align:center;
}
@media screen and (max-width: 380px) {
section#check h3{
    font-size:30px;
}
}
section#check h3 span {
    color: #000;
    font-size: 18px;
}
section#check p.text{
    color:#fff;
    font-size:18px;
    font-weight:600;
    line-height:1.6;
    margin-top:30px;
    text-align:center;
}
@media screen and (max-width: 380px) {
section#check p.text{
    font-size:15px;
}
}

/*section#check 【マッチング基準】*/
section#check div.match{
    background:rgba(255,255,255,0.5);
    border-radius:10px;
    margin:20px auto 0 auto;
    width:100%;
    padding:30px 15px;
    text-align:center;
}
section#check h4.match_h4{
    border-bottom:1px dashed #fff;
    color:#333;
    font-size:20px;
    font-weight:600;
    padding-bottom:15px;
    text-align:center;
}
section#check div.match ul.criterion{
    margin-top:0;
}
section#check div.match ul.criterion li{
    font-size:15px;
    line-height:1.6;
    margin-top:20px;
    padding-left:25px;
    position:relative;
    display:flex;
    align-items:center;
}
section#check div.match ul.criterion li::before{
    font-size:20px;
    position:absolute;
    left:0;
}
section#check div.match ul.criterion li.one::before{
    content:"①";
}
section#check div.match ul.criterion li.two::before{
    content:"②";
}
section#check div.match ul.criterion li.three::before{
    content:"③";
}

/*section#check 【提携工務店について】*/
section#check h4.match_h4.alli{
    margin-top:60px;
}
section#check div.match div.alliance{
    margin:0 auto;
}
section#check div.match div.alliance ul li{
    font-size:17px;
    line-height:1.8;
    margin-top:15px;
    text-align:center;
}
section#check div.match div.alliance ul li span.big{
    color:#ff5500;
    font-size:28px;
    font-weight:600;
    line-height:1.4;
}
section#check div.match div.alliance ul li.img img{
    width:75%;
    hieght:auto;
    margin:0 auto;
}
@media screen and (max-width: 380px) {
section#check div.match div.alliance ul li{
    font-size:15px;
}
}




/*section#check　工務店紹介＆申請サポート会社の紹介*/
section#check div.kotira_button{
    margin:0 auto;
    width:100%;
}
section#check li.kotira{
    margin-top:20px;
}
section#check li.kotira ul.board{
    background:#fff;
    border:4px solid #fffa4b;
    border-radius:10px;
    height:100%;
    padding:25px 15px;
}
section#check li.kotira h4 {
    border-bottom: 2px solid #000000;
    color: #000000;
    font-family: 'M PLUS 1p', sans-serif;
    font-weight: 500;
    font-size: 31px;
    line-height: 1.4;
    padding-bottom: 10px;
    text-align: center;
}
@media screen and (max-width: 380px) {
section#check li.kotira h4{
    font-size:22px;
}
}
section#check li.kotira li.img{
    padding-top:22px;
}
section#check li.img ul{
    display:table;
    width:100%;
}
section#check li.img ul li{
    display:table-cell;
    padding-top:0;
}
section#check li.img li.image{
    width:45%;
    padding-right:10px;
}
section#check li.img li.txt{
    color:#111;
    font-size:16px;
    line-height:1.7;
    padding:10px 0 0 0;
}
section#check li.kotira li.btn{
    padding-top:25px;
}

/*section#pilot*/
section#pilot{    
	background:#9cadce;
    background-position:center top;
    background-size:100% auto;
	overflow:hidden;
	position:relative;
	width:100%;
	height:auto;
	margin:0;
	padding:0;
	z-index:1;
}
div.movie{
	position:absolute;
	width:100%;
	height:auto;
	top:0;
	left:0;
	margin:0;
	overflow:hidden; 
	z-index:2;
}
video{
    width:160%;
	height:auto;
    margin-left:-30%;
	z-index:3;
}
div.movie::after{
    content:"";
    background:linear-gradient(to bottom, transparent, #9cadce 90%);
    display:block;
    width:100%;
    height:50px;
    margin-top:-50px;
	position:relative;
	z-index:4;
}
div.dark{
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	background:url("img/twodot.png");
    background-size:4px 4px;
	margin:0;
	z-index:5;
}
div.pilot_zone{
	position:relative;
    width:100%;
	height:auto;
    padding:60px 15px;
	z-index:6;/*必ず必要*/
}

section#pilot h3{
    color:#fff000;
    font-weight:500;
    font-size:38px;
    line-height:1.2;
    text-align:center;
}
@media screen and (max-width: 380px) {
section#pilot h3{
    font-size:28px;
}
}
section#pilot h3 span{
    color:#fff;
    font-size:18px;
}
section#check p.text {
    color: #000;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.6;
    margin-top: 30px;
    text-align: center;
}
@media screen and (max-width: 380px) {
section#pilot p.text{
    font-size:15px;
}
}
section#pilot div.merit{
    background:rgba(255,255,255,0.6);
    border-radius:10px;
    margin:20px auto 0 auto;
    width:100%;
    padding:20px 15px;
    text-align:center;
}
section#pilot h4.merit_h4{
    border-bottom:1px dashed #fff;
    color:#333;
    font-size:18px;
    font-weight:600;
    padding-bottom:15px;
    text-align:center;
}

section#pilot div.merit ul.side{
    display:table;
    margin:20px auto 0 auto;
}
section#pilot div.merit ul.side li.side_li{
    display:table-cell;
}
section#pilot div.merit ul.side li.side_li.img{
    width:100px;
    position:relative;
}
section#pilot div.merit ul.side li.side_li.img img{
    position:absolute;
    left:0;
    bottom:0;
}

section#pilot div.merit ul.list{
    display:inline-block;
    margin-top:0;
}
section#pilot div.merit ul.list li{
    font-size:15px;
    line-height:1.6;
    margin-top:15px;
    padding-left:25px;
    position:relative;
    display:flex;
    align-items:center;
}
section#pilot div.merit ul.list li:first-child{
    margin-top:0;
}
section#pilot div.merit ul.list li::before{
    font-size:18px;
    position:absolute;
    left:0;
}
section#pilot div.merit ul.list li.one::before{
    content:"①";
}
section#pilot div.merit ul.list li.two::before{
    content:"②";
}
section#pilot div.merit ul.list li.three::before{
    content:"③";
}
section#pilot div.merit ul.list li.four::before{
    content:"④";
}
section#pilot div.merit ul.list li.five::before{
    content:"⑤";
}
section#pilot div.merit ul.list li.six::before{
    content:"⑥";
}
section#pilot div.merit ul.list li.seven::before{
    content:"⑦";
}


/*footer*/
footer{
    background:linear-gradient(to bottom left, #ffffff, #ffffff);
	padding:15px;
}
ul.link li{
	padding:0 10px;
    border-bottom:1px dashed #fff;
}
ul.link li a{
	color:#111;
    display:block;
	font-size:14px;
	line-height:3;
}
footer p.phone{
	color:#111;
	font-size:13px;
    margin-top:30px;
	text-align:center;
}
footer p.phone span{
    background:url("img/phone.png") no-repeat;
    background-size:13px 13px;
    background-position:0 center;
    margin:0 5px;
    padding-left:13px;
}
footer p.phone a{
	color:#111;
	font-size:13px;
}
footer p.copy{
    color: #000;
	font-size:12px;
    margin-top:3px;
	text-align:center;
}
@media screen and (max-width: 380px) {
ul.link li a,
footer p.copy{
    font-size:11px;
}
footer p.phone{
	font-size:11px;
}
footer p.phone span{
    background:url("img/phone.png") no-repeat;
    background-size:11px 11px;
    background-position:0 center;
    padding-left:11px;
}
footer p.phone a{
	font-size:11px;
}
}

/*p.totop*/
p.totop{
	opacity:0;
	position:fixed;
	bottom:75px;
	right:5px;
	transition:all 0.5s;
}
p.totop.see{
	opacity:1;
}

/*div.builder*/
div.builder{
    background:#ff5a00;/*ff5500 ff9100 ff9100 fffa4b*/
    border:2px solid rgba(255,255,255,0.4);
    border-right:none;
    border-radius:8px 0 0 8px;
	position:fixed;
	bottom:15px;
	right:0;
    margin-right:-220px;
	transition:all 1.5s;
    width:200px;
    height:auto;
}
div.builder p{
    background:url("img/builder.png") no-repeat;
    background-size:18px 18px;
    background-position:10px center;
    color:#fff;
    font-size:16px;
    font-weight:500;
    line-height:2.8;
    padding-left:35px;
}
div.builder.see{
    margin-right:0;
}










.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
    padding: 0 20px;
    background: #fff;
}
  
  .logo {
    font-size: 24px;
  }
  
  /*------------------------------
  
    ここから下がハンバーガーメニュー
    に関するCSS
  
  ------------------------------*/
    
  /* チェックボックスは非表示に */
  .drawer-hidden {
    display: none;
  }
  
  /* ハンバーガーアイコンの設置スペース */
  .drawer-open {
    display: flex;
    height: 35px;
    width: 40px;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: #dcd7d7;
    z-index: 100;
    top: 9px;
    cursor: pointer;
    right: 20px;
}
  
  /* ハンバーガーメニューのアイコン */
  .drawer-open span,
  .drawer-open span:before,
  .drawer-open span:after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background: #333;
    transition: 0.5s;
    position: absolute;
  }
  
  /* 三本線のうち一番上の棒の位置調整 */
  .drawer-open span:before {
    bottom: 8px;
  }
  
  /* 三本線のうち一番下の棒の位置調整 */
  .drawer-open span:after {
    top: 8px;
  }
  
  /* アイコンがクリックされたら真ん中の線を透明にする */
  #drawer-check:checked ~ .drawer-open span {
    background: rgba(255, 255, 255, 0);
  }
  
  /* アイコンがクリックされたらアイコンが×印になように上下の線を回転 */
  #drawer-check:checked ~ .drawer-open span::before {
    bottom: 0;
    transform: rotate(45deg);
  }
  
  #drawer-check:checked ~ .drawer-open span::after {
    top: 0;
    transform: rotate(-45deg);
  }
    
  /* メニューのデザイン*/
  .drawer-content {
    width: 100%;
    height: 100%;
    opacity: 0.9;
    position: fixed;
    top: 0;
    left: 100%;
    z-index: 99;
    background: #6185B3;
    transition: .5s;
}
  
  /* アイコンがクリックされたらメニューを表示 */
  #drawer-check:checked ~ .drawer-content {
    left: 0;/* メニューを画面に入れる */
  }
  

#menu{
    display: none;
}

.store {
    width: 55%;
    height: auto;
    position: relative;
    left: 50%;
    margin: 30px 0 30px 0;
    transform: translatex(-50%);
}

.off {
    width: 55%;
    height: auto;
    position: relative;
    margin-top: 53px;
    margin-bottom: 41px;
    left: 50%;
    transform: translatex(-50%);
}



@media screen and (max-width: 770px){
    .one-line {
        width: 66%;
        position: relative;
        /* height: 23%; */
        left: 50%;
        transform: translateX(-50%);
    }
}



@media screen and (max-width: 420px){
    .one-line {
        width: 81%;
    }
}


.han-line {
    width: 55%;
    height: auto;
    margin-top: 8vw;
}


.pc-cta{
    display: none;
}
.cta-wrapper {
    background-color: #20b8de;
    text-align: center;
    margin-top: -1px;
}
.sp-ta {
    width: 90%;
    border-radius: 35px;
    position: relative;
    box-shadow: 2px 1px 11px white;
    top: 10px;
}